@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&family=Staatliches&family=VT323&display=swap');

body{ 
    background: url(./assets/fondo.jpg);
    /* background-color: #d1e4ff; */
    /* font-family: 'Rubik', sans-serif;
    font-family: 'Staatliches', cursive; */
    font-family: 'VT323', monospace;
}
/* 
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

header img{
    width: 500px;
}
  */



/* -----------Aqui empieza la pokedex---------- */


#pokedex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}   

.right{
    padding: 20px;
    background-color: #d30a40;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: -20px 15px #90062a;
}


/* -----------Seccion de las camaras de la pokedex------------ */

.logos-circulares{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}

.camera{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.lent{
    background: rgb(142,242,251);
    background: radial-gradient(circle, rgba(142,242,251,1) 0%, rgba(142,242,251,1) 22%, rgba(0,212,255,1) 74%);
    width: 85px;
    height: 85px;
    border-radius: 100%;
    transform: translate(8px, 8px);
}

.circle1{
    margin: 0px 10px;
    background: rgb(233,57,23);
    background: linear-gradient(90deg, rgba(233,57,23,1) 0%, rgba(244,124,124,1) 50%, rgba(255,50,9,1) 100%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.circle2{
    margin: 0px 10px;background: rgb(179,187,74);
    background: linear-gradient(90deg, rgba(179,187,74,1) 0%, rgba(218,222,88,1) 50%, rgba(179,187,74,1) 100%);width: 35px;
    height: 35px;
    border-radius: 50%;
}

.circle3{
    margin: 0px 10px;
    background: rgb(138,209,67);
    background: linear-gradient(90deg, rgba(138,209,67,1) 0%, rgba(177,245,99,1) 49%, rgba(138,209,67,1) 100%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/* -------visualizador del nombre e imagen------- */

#visualizar{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.nombre{
    background-color: #5fc480;
    width: 400px;
    height: 50px;
    border: 3px inset green;
    /* border-radius: 10px; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 20px;
}

.nombre h1{
    font-weight: 400;
    display: inline;
}

.contenedor-foto{
    margin-top: 20px;
    clip-path: polygon(100% 0, 100% 100%, 21% 99%, 0 76%, 0 0);
    background-color: rgb(204, 204, 204);
    box-shadow: 20px 15px gray;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.foto{
    margin: 25px auto;
    width: 250px;
    height: 200px;
    background-color: #e3e3e3;
    border: 2px dashed black;
    border-radius: 10px;
}

.foto img{
    width: 100%;
    height: 100%;
}

#tipo-pokemon{
    font-size: 1.3rem;
    text-align: center;
}



/* ---------Buscador----------- */

.buscador{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.contenedor-buscador{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn1{
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

#pokeName{
    border-radius: 5px;
    height: 30px;
    margin: 0px 70px;
}

.contenedor-buscador button{
    border-radius: 100%;
    padding: 10px;
    background-color: black;
}

.icon-tabler-search{
    padding: 5px;
    border-radius: 100%;
    background-color: rgb(61, 61, 61);
}


/* -------Descripcion del pokemon-------- */

#descripcion-pokemon{
    margin: 30px auto 20px;
    background-color: #5fc480;
    width: 400px;
    height: 150px;
    padding: 0px 20px;
    border-radius: 3px;
}





/* Parte derecha de la pokedex */

.left{
    padding: 30px;
    background-color: #d30a40;
    width: 500px;
    border-radius: 0px 30px 30px 0px;
    height: auto;
}


/* --------stats del pokemon--------- */

.stats-pokemon{
    border-radius: 5px;
    padding: 20px;
    background-color: #5fc480;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.stats-pokemon h3{
    margin: 0 0px 20px 0px;
    font-size: 1.6rem;
}

.stats-pokemon h4{
    display: inline;
}

#pokemon-stats progress{
    width: 60%;
    align-items: flex-end;
}

.about-pokemon{
    width: 250px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #5fc480;
    display: flex;
    align-items: center;
    padding: 0px 70px;
    justify-content: space-between;
}

.peso, 
.estatura{
    text-align: center;
}

.movimientos-pokemon{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: 500px;
    height: 400px;
    background-color: #5fc480;
    overflow-y: scroll;
}

#listMovs li{
    list-style-type: none;
}